body {
    overflow-x: hidden;
}

footer {
    width: 100%;
    height: 75px;
    background-color: black;
    margin-top: 10px;
}

.color {
    background: #0275d8;
}

#ulcolor li a,
#ulcolor a {
    color: white;
}


/*css for links in nav bar*/

#myLinks li a {
    color: white;
}

.row {
    width: 950px;
    margin-top: 5px;
}
